<div class="sortable">
</div>

<div class="info">
  <img src="<%= imageUrl %>" width="350" height="165"
  alt= <%= title %> class="project-image shadowed" />

  <input class="edit-image hidden-edit" placeholder="Enter an image_url">

  <div class="project-details">
    <h3 class="project-name">
      <%= title %>
    </h3>

    <input class="edit-title hidden-edit" placeholder="Enter a title">

    <p class="url">
      <%= url %>
    </p>
    <a href="<%= url %>">Visit</a>

    <input class="edit-url hidden-edit" placeholder="Enter a url">

    <div class="skills">
      <span class="skill-label">
        Skills:
      </span>

      <ul class="skill-list">
      </ul>

      <span class="add-skill">Add Skill</span>
    </div>

    <div class="body">
      <%= body %>
    </div>

    <input class="edit-body hidden-edit" placeholder="Enter a body">
  </div>
</div>

<div class="remove-project">
  Remove Project
</div>
