<section id="user-list">
  <ul id="users">
    <% users.each(function(user) { %>
      <li>
        <img src="<%= user.get('image_url') %>" alt="<%= user.get('name') %>" width=80 height=80 class="user-list-thumb" />
        <h3><%= user.get('name') %></h3>
        <p>
          <a href="/users/<%= user.id %>" data-user-id="<%= user.id %>" class="profile-link">Profile</a>
        </p>

        <p>
          <a href="/users/<%= user.id %>/follow" data-user-id="<%= user.id %>" class="follow-link">Follow</a>
        </p>
      </li>
    <% }); %>
  </ul>

  <div class="clear"></div>
</section>